* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
/* for small screen */

/* navbar and his elements */

/* navbar */

.navbar {
    display: flex;
    flex-direction: column;
    background-color: rosybrown;
    padding: 10px 0;
}

/* navbar-btn */

.navbar-btn {
    display: none;
}

.navbar-btn:checked ~ .logo-and-label > .label-navbar-btn > .navbar-icon {
    background-color: transparent;
    transition: 0.9s;
}

.navbar-btn:checked ~ .logo-and-label > .label-navbar-btn > .navbar-icon::before {
    top: 0;
    transform: rotate(405deg);
    background-color: white;
    transition: 0.9s;
}

.navbar-btn:checked ~ .logo-and-label > .label-navbar-btn > .navbar-icon::after {
    top: 0;
    transform: rotate(-405deg);
    background-color: white;
    transition: 0.9s;
}

.navbar-btn:checked ~ .logo-and-label ~ .navbar-menu {
    display: flex;
}

/* logo-and-label */

.logo-and-label {
    display: flex;
    justify-content:space-between;
}

/* logo */

.logo {
    color: black;
    font-weight: bolder;
    margin: 5px 0 0 15px;
}

/* navbar-icon */

.navbar-icon {
    display: flex;
    flex-direction: column;
    height: 2px;
    width: 20px;
    position: relative;
    background-color: black;
    transition: 0.9s;
    margin: 15px 15px 0 0;
}

.navbar-icon::before {
    content: "";
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    background-color: black;
    transition: 0.9s;
}

.navbar-icon::after {
    content: "";
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5px;
    background-color: black;
    transition: 0.9s;
}

/* navbar-menu */

.navbar-menu {
    margin: 0 15px;
    display: none;
    flex-direction: column;
    list-style: none;
}

/* navbar-link */

.navbar-link {
    text-decoration: none;
    display: flex;
    position: relative;
    flex-direction: column;
    color: white;
    width: 70px;
    padding: 15px 0;
}

.navbar-link::after {
    content: '';
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    width: 0;
    height: 2px;
    background: transparent;
    transition: 0.9s;
}

.navbar-link:hover {
    color: black;
    background-color: azure;
    transition: 0.9s;
}

.navbar-link:hover::after {
    background: linear-gradient(to left, hsla(0, 23%, 50%, 0.3), hsla(55, 100%, 50%, 0.9), hsla(123, 71%, 39%, 0.5));
    width: 70px;
    transition: 0.9s;
}

/* hello */

.hello {
    margin: 20px 0 0 15px;
    width: 100px;
    border-left: 5px solid red;
    border-right: 10px solid yellow;
    border-top: 1px solid brown;
    border-bottom: 3px solid gray;
}

/* footer-body */

.footer-body {
    display:flex;
    justify-content: center;
}

/* for big screen */
@media screen and (min-width: 1024px) {

/* navbar and his elements */

.navbar,
.navbar-menu {
    flex-direction: row;
}

/* navbar */

.navbar {
    justify-content: space-between;
}

/* logo */

.logo {
    margin: 0 0 0 15px;
}

/* label-navbar-btn */

.label-navbar-btn {
    display: none;
}

/* navbar-menu */

.navbar-menu {
    display: flex;
}

/* navbar-link */

.navbar-link {
    padding: 0 10px;
}

.navbar-link::after {
    top: 15px;
}

}
